body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;

    gap: 27px;

    background-color: #e5e5e5;
}
header {
    width: 100vw;
    height: 92px;

    padding-left: 21px;

    color: #ffffff;
    background-color: #cf2b2b;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
}
.logo {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}
.slogan {
    font-size: 18px;
    line-height: 21px;
}

.container {
    width: 100vw;

    display: flex;
    flex-direction: column;

    padding: 92px 0 108px 0;
}

.contents section {
    width: 100vw;
    height: 258px;
}

.options-title {
    width: 100vw;
    height: 25px;

    margin: 27px 0 17px 0;
    padding-left: 19px;

    font-family: Righteous;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;

    color: #333333;
}

.options {
    width: 100vw;
    height: 216px;

    display: flex;

    padding: 0 19px;
    gap: 16px;

    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.option {
    width: 172px;
    height: 216px;

    gap: 5px;

    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;

    flex-shrink: 0;

    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.option img {
    width: 144px;
    height: 87px;

    border-radius: 4px;
}

.option-title {
    width: 144px;

    font-weight: bold;
    font-size: 16px;   
    line-height: 19px;

    color: #333333; 
}

.option-description {
    width: 144px;

    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #a6a6a6;
}

.option-fotter {
    width: 144px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    width: 100px;

    display: flex;

    font-size: 16px;
    line-height: 19px;

    gap: 3.5px;

    color: #000000;
}
.option-check {
    width: 15.44px;
    height: 15.44px;

    color: #32B72F;

    opacity: 0;
}

.isSelected {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.isSelected .option-check {
    opacity: 1;
}

footer{
    width: 100vw;
    height: 92px;

    background-color: #ffffff;

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.finish-button {
    width: 364px;
    height: 61px;

    padding: 0 80px;

    background-color: #cbcbcb;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    border: none;

    font-size: 20px;
    text-align: justify-all;
    line-height: 23px;
    letter-spacing: 0.018em;

    pointer-events: none;
}

.activated {

    background-color: #32B72F;

    border: none;

    font-weight: 700;

    pointer-events: auto;
}